* {
 font-family: 'Open Sans', sans-serif;
 color: white;
}

.glyphicon {
    color: white;
}

body {
 background-image: url(../img/banner.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

#compromiso {
 background-color: #21B2A6;
}

#can {
 background-color: #2B343D;
}

.img-text {
 max-width: 100%;
}

#beneficios {
 background-color: #505393;
}

footer {
    background-color: rgba(29, 36, 38, 0.8);
    height: 100px;
    text-align: center;
    padding: 10rem;
}
